{% extends "base.html" %}

{% block title %}PR Hub - Login{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/auth/loginStyle.css">
{% endblock %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

{#    email #}
        <p>
            {{ form.email.label }}
            <br>
            {{ form.email(size=32) }}
        </p>

{#        adding validation messages #}
        {% for error in form.email.errors %}
            <span class="error-message">[{{ error }}]</span>
        {% endfor %}

{#    password #}
        <p>
            {{ form.password.label }}
            <br>
            {{ form.password(size=32) }}
        </p>

{#         adding validation messages#}
        {% for error in form.password.errors %}
            <span class="error-message">[{{ error }}]</span>
        {% endfor %}


        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>

        <p>{{ form.submit() }}</p>
    </form>

{#    a link for registration #}
    <p>
        New here?
        <a href="{{ url_for('auth.register') }}">Click me for registration</a>
    </p>

{% endblock %}