/* clear the default style in the browsers */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    bottom: 0;
    text-decoration: none;

}

/* the whole content in the page between the navbar and the footer */
.block-content {
    /*display: flex;*/
    /*!* let the children lined vertically *!*/
    /*flex-direction: column;*/
    /*!* get to the center horizontally *!*/
    /*align-items: center;*/
    /*height: 2000px;*/

    width: 100%;

}


/*
       The basic information of the product
       (name + price + description)
*/
.product-info-box {
    width: 63%;
    margin: auto;
    height: auto;
    padding: 10px;
    /*background: #bfa;*/
}

/* The product name */
.product-info-box .product-name {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding: 30px 0;
    margin-bottom: -27px;
    /*color: rgb(0, 0, 0);*/
}

/* The product price */
.price-box {
    text-align: left;
    font-size: 30px;
    padding-left: 40px;
    padding-top: 40px;
}

/* The product description */
.product-info-box .product-desc {
    font-size: 30px;
    color: rgb(118, 118, 118);
    margin: 40px;
    line-height: 47px;
}


/*
    The pictures of the product
    (basic idea of this picture slide is learned from Internet (bilibili.com))
 */

/* the container of the pictures slide panel */
.picture-panel-box {
    width: 900px;
    height: 680px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border: 10px solid #a3e5ff;
    border-radius: 5px;
    /*box-shadow: 20px 30px 20px rgba(0, 0, 0, .5);*/
}

/* The picture list */
.pic-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
    transition: .2s;
}

/* each single picture in the picture list */
.pic-container .pic img {
    /* size should be same as the picture-panel-box */
    width: 900px;
    height: 680px;
    background-size: cover;
}

/* the outer box contains 'left' and 'right' button */
.btn {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* the user cannot select the text in button by their cursor */
    user-select: none;
}

/* the buttons inside the box */
.btn-left, .btn-right {
    font-size: 0;
    padding: 0 20px;
    /* the parent has the height of 500px, so that set line-height same as parent's height to locate at the center vertically  */
    line-height: 680px;
    transition: .5s;
}

/* when hovering the picture, we will show the buttons */
.btn:hover .btn-left, .btn:hover .btn-right {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 50px;
    cursor: pointer;
}

/*
    The ranking stars of the product
*/

/* an outer container contains hint and a list of stars*/
.rank-box {
    padding: 5%;
    font-size: 30px;
    width: 30%;
    margin: auto;
    margin-top: 40px;
    height: 70px;
}

/* the hint to rank */
.rank-hint {
    float: left;
    line-height: 60px;
}

/* the list of stars */
.rank-stars {
    float: left;
    line-height: 60px;
    margin-left: 20px;
    display: contents;
}

/* the single star in the list */
.star {
    float: left;
    font-size: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

/* the link of the star */
.star a {
    color: #9c9c9c;
}

/* when hovering and clicking the star
    we will use javascript to add the following
    classes to the star
 */
.hovered-star a, .clicked-star a {
    color: #ffec39;
    cursor: pointer;
}

.hovered-star, .clicked-star {
    color: #ffec39;
    cursor: pointer;
}

/* The star style for showing the feedback */
.already-star {
    color: #ffec39;
}

/*
    Add to cart module ---------------------------------------------------------------------------------------------
*/

/*whole cart box*/
#cart-box {
    margin-left: 200px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

/* number add in cart box */
#cart-num-box {
    margin-right: 10px;
    margin-top: 15px;
    height: 50px;
}

/* this class should be assigned to the decrease button by js, when the number is 1 */
.btn-disabled {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

/* decrease button*/
#btn-cart-dec {

    height: 30px;
    width: 30px;
}

/*number field*/
#cart-product-count {
    height: 30px;
    width: 80px;
}

/*increase button*/
#btn-cart-inc {
    height: 30px;
    width: 30px;
}

/*add to cart button box*/
#cart-button-box {
    margin-left: 5px;
    height: 50px;
    width: 200px;
    padding: 5px;
    background-color: red;
    text-align: center;
}

/*add to cart button*/
#btn-add-cart {
    font-size: 30px;
    font-family: "Lucida Bright", sans-serif;
    font-weight: 700;
    color: white;
    line-height: 50px;
}

/*add to cart button when hover*/
#cart-button-box:hover {
    background-color: yellow;

}

/*add to cart button text when hover*/
#cart-button-box:hover #btn-add-cart {
    color: red;
}


/*
    product comments---------------------------------------------------------------------------------------------
 */

/* outer box contains all the comments of this product */
.product-comment-box {
    background-color: #bfa;
    padding: 1%;
}

/* the title "Customer Review" */
.product-comment-box h2 {
    width: 31%;
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    padding: 45px;
}

/* the list item, which is a single comment */
.comment-item {
    border-bottom: 2px solid #000000;
    padding: 2% 6% 2% 6%;
}

/* author info */
.comment-item .comment-user {
    /*padding: 10px;*/
}

/* author avatar */
.comment-item .comment-user img {
    width: 50px;
    height: 50px;
    background-size: cover;
}

/* author's username */
.comment-item .comment-user .comment-user-username {
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

/* if the author has not commented this product, the hint will be there */
.comment-item .hint-no-star {
    color: #9f96ff;
    width: 100%;
    font-size: 20px;
    margin-left: 1.5%;
    margin-bottom: 3%;
}

/* the star list in comment */
.comment-item .comment-star {
    margin-top: -45px;
    margin-left: 20px;
}

/* each star in the comment */
.comment-item .comment-star .star-in-comment {
    float: left;
    font-size: 30px;
    margin-left: 5px;
}

/* the text content of the comment */
.comment-item .comment-text {
    line-height: 30px;
    margin-bottom: 25px;
    margin-left: 30px;
}

/* the list of the comment pictures */
.comment-item .comment-pic-list {
    /*float: left;*/
    /*clear: both;*/
}

/* the list item (li) of the comment pictures */
.comment-item .comment-pic-list .comment-pic {
    /*float: left;*/
    /*clear: both;*/
    width: 1243px;

}

/* each comment picture in the list */
.comment-item .comment-pic-list .comment-pic img {
    float: left;
    width: 150px;
    height: 150px;
    background-size: cover;
    margin-left: 4%;
    border: 2px solid #9f96ff;
}

/* the date of the comment */
.comment-item .comment-date {
    margin-left: 30px;
    margin-top: 20px;
}


/* This is an empty div, which is used to clear the float */
.empty-for-clear-float {
    clear: both;
}
















