/* clear the default css in the browser */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


/* the block-content inherited from the base */
/* the whole content in the page between the navbar and the footer */
.block-content{
  padding-bottom: 50px;
    padding-top: 1px;

    /*background-color: white;*/
}


/*
     The slideshow of the product pictures
 */

/* set the big pictures to each li in the ul */
.pic:nth-child(1){
    background-image: url('../../img/index_slides/pic1.jpg');
}
.pic:nth-child(2){
    background-image: url('../../img/index_slides/pic2.jpg');
}
.pic:nth-child(3){
    background-image: url('../../img/index_slides/pic3.jpg');
}
.pic:nth-child(4){
    background-image: url('../../img/index_slides/pic4.jpg');
}
.pic:nth-child(5){
    background-image: url('../../img/index_slides/pic5.jpg');
}

/* a outer container for the picture list */
.picture-panel-box{
    width: 100%;
    height: 545px;
    position: relative;
}

/* the picture list contains 5 pictures */
.pic-container{
    width: 500%;
    height:545px;
    display: flex;
    position: absolute;
    z-index: 9;
    left: 0;
    transition: .2s;
}

/* the li in the picture list, each one has held a picture now */
.pic{
    width: 100%;
    background-size: cover;
}

/* the link on each picture */
.pic a{
    /* make the link has the same size of the picture, so that we can click on the picture to active the link */
    display: inline-block;
    height: 545px;
    width: 100%;
}

/*
    The dot buttons
*/

/* the list of dot buttons */
.dot-group{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10px;
    width: 20%;
    z-index: 10;
    right: 40%;
}
/* each dot button */
.dot{
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    cursor: pointer;
}

/* the dot of the current picture. We will assign this class by js */
.current-dot{
    background-color: #ffffff;
    box-shadow: 0 0 16px 3px #ffffff;
}


/*
    The hint to see product list
*/
/* the title of going to see the products */
.title-list-item{
    height: 10px;
    margin-top: -140px;
    margin-bottom: 200px;
}

/* the text of the title */
.title-list-item .title{
    text-align: center;
    padding-right: 100px;
    font-size: 60px;
    font-weight: 500;
    font-family: 'Times New Roman', 'Lucida Bright' ,'Lucida Sans Unicode', 'Geneva', 'Verdana', serif;
}

/* the <a> outers the icon span */
.title-list-item a{
    display: inline-block;
    margin: 10px 45%;
    width: 5%;
    /*color: black;*/
}
/* when hovering on the 'down' icon */
.title-list-item a:hover{
    color: #ce8787;
}

/* The iconfont ('down' icon) */
.title-list-item .icon-down{
    font-size: 50px;
    display: inline-block;
    font-weight: bold;
}


/*
    The product cards
 */


/* the hole panel, which contains lots of product cards */
.products-list{
    margin-left: 100px;
    margin-top: 180px;
}

/* the outer container of the product box */
.products-list-item{
    float: left;
    margin-right: 45px;
    margin-bottom: 40px;
    /*background-color: white;*/
    /*background-color: #d9d9d9;*/
}

/* the outer box of the product card */
.product-box{
    width: 300px;
    height: 465px;

    /*background-color: #bfa;*/

}

.product-box:hover{
    /* making the shadow when hovering over the hole box */
    box-shadow: 0 0 10px 10px #999;
}

/* the product image */
.product-img img{
    width: 100%;
    height: 300px;
}

/* the product price */
.product-price{
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    padding: 5px;
}

.product-price span{
    color: #a60101;
}

/* the product name */
.product-name{
    width: 100%;
    text-align: center;
    font: 900 1rem '';

    /* we will only show 1 line of name */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.product-name a:hover{
    /*color: #fff;*/
    color: red;
}

/* the product description */
.product-desc{
    padding: 5px;
}

.product-desc p{
    color: #999;
    font-size: 15px;
    word-break: break-all;

    /* we will only show 2 lines of descriptions */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* product comment */
.product-cmt{
    padding: 4px;
}

.product-cmt a:hover{
    color: red;
}

/* product rating stars */
.product-rate{
    /*background-color: red;*/
    /*padding-left: 3px;*/
}

/* the star list */
.rate-stars{
    float: left;
    margin-right: 170px;
    margin-bottom: 3px;
}

/* all those five stars */
.product-rate .rate-stars li{
    float: left;
    margin: 3px;
    font-size: 22px;
}

/* bright stars */
.star-bright{
    /*color: #ffec39;*/
    color: #fcdb02;
}
/* dark stars */
.star-dark{
    color: #9c9c9c;
}


/* product retailer */
.product-retailer{
    padding-left: 4px;
    padding-right: 10px;
    height: 15px;
    line-height: 1;
    font-size: 14px;
    /* we will only show 1 lines of the name of retailer */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.product-retailer a:hover{
    color: red;
}

/* This is an empty div, which is used to clear the float */
.empty-for-clear-float{
    clear: both;
}

