/* clear the default css in the browser */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* the block-content inherited from the base */
.block-content{

}

/*
     The slideshow of the product pictures
 */

/* set the big pictures */
.pic:nth-child(1){
    background-image: url('../../img/index_slides/pic1.jpg');
}
.pic:nth-child(2){
    background-image: url('../../img/index_slides/pic2.jpg');
}
.pic:nth-child(3){
    background-image: url('../../img/index_slides/pic3.jpg');
}
.pic:nth-child(4){
    background-image: url('../../img/index_slides/pic4.jpg');
}
.pic:nth-child(5){
    background-image: url('../../img/index_slides/pic5.jpg');
}

.picture-panel-box{
    width: 100%;
    height: 545px;
    position: relative;
}

.pic-container{
    width: 500%;
    height:545px;
    display: flex;
    position: absolute;
    left: 0;
    transition: .2s;
}

.pic{
    width: 100%;
    background-size: cover;
}

/* dot buttons */
.dot-group{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 10px;
    width: 20%;
    z-index: 10;
    right: 40%;
}

.dot{
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    cursor: pointer;
}

/* the dot of the current picture. We will assign this class by js */
.current-dot{
    background-color: #3A7734;
}


/*
    The product cards
 */

/* the hole panel, which contains lots of product cards */
.products-list{
    margin-left: 55px;
    margin-top: 180px;
}

/* the outer container of the product box */
.products-list-item{
    float: left;
    margin-right: 40px;
    margin-bottom: 100px;

    background-color: #d9d9d9;
}

/* the outer box of the product card */
.product-box{
    width: 250px;
    height: 420px;

    /*background-color: #bfa;*/

}

.product-box:hover{
    /* making the shadow when hovering over the hole box */
    box-shadow: 0 0 10px 10px #999;
}

/* the product image */
.product-img img{
    width: 100%;
    height: 200px;
}

/* the product price */
.product-price{
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
}

.product-price span{
    color: #f00;
}

/* the product name */
.product-name{
    width: 100%;
    text-align: center;
    font: 900 1rem '';
}

.product-name a:hover{
    color: #fff;
}

/* the product description */
.product-desc{
    padding: 10px;
}

.product-desc p{
    color: #999;
    font-size: 15px;
    word-break: break-all;

    /* we will only show 2 lines of descriptions */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* product comment */
.product-cmt{
    padding: 10px;
}

.product-cmt a:hover{
    color: #fff;
}

/* product rating stars */
.product-rate{
    background-color: red;
    padding-left: 7px;
}

/* the star list */
.rate-stars{
    float: left;
    margin-right: 115px;
    margin-bottom: 10px;
}

/* all those five stars */
.product-rate .rate-stars li{
    float: left;
    margin: 3px;
    font-size: 22px;
}

/* bright stars */
.star-bright{
    color: #ffec39;
}
/* dark stars */
.star-dark{
    color: #9c9c9c;
}


/* product retailer */
.product-retailer{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    /* we will only show 1 lines of the name of retailer */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.product-retailer a:hover{
    color: #fff;
}

