/* the whole content in the page between the navbar and the footer */
.block-content {
    padding-bottom: 400px;
    padding-top: 50px;
    padding-left: 60px;
}

/*the shopping cart title*/
#shopping-cart-title {
    font-size: 50px;
    font-family: "Lucida Bright", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

/*the position of the table*/
.cart-table{
    position: relative;
    /*the relative position use to change table's position*/
    left: 130px;
    top: 40px;
}

/*the border */
.product-row {

    /*border: 4px solid #CC9999;*/
    border-top: 0;
    border-right: 0;
    border-bottom: 4px solid #CC9999;
    border-left: 0;
    padding: 40px;
    margin-bottom: 20px;
    width: 1700px;
    height: 150px;
    /*display: flex;*/
    /*flex-direction: row;*/
}

/*the position of the checkbox */
.product-check {
    vertical-align: top;
}

/*the position of the checkbox */
.checkbox {
    margin-top: 10px;
    margin-right: 20px;
    height: 17px;
    width: 17px;
}

/* the image of each products  */
.product-row .product-img img {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-right: 20px;
    background-size: cover;
}

/*the name of the product*/
.product-name {
    vertical-align: top;
    padding: 12px;
}

/*the price of the price*/
.product-price{
    padding-right: 5px;
}



/* this class should be assigned to the decrease button by js, when the number is 1 */
.btn-disabled {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}

/*the remove button in table */
.product-remove button{
    margin-left: 20px;
}

/* the total price and the purchase button */
.purchase-row {
    height: 50px;
    vertical-align: top;
    padding-top: 20px;
}

.purchase {
    padding-top: 15px;
}


/* keep the footer at the bottom */
/*.footer {*/
/*    margin-top: 0;*/
/*}*/