/* clear the default css in the browser */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* This is an empty div, which is used to clear the float */
.empty-for-clear-float{
    clear: both;
}

/* the whole content in the page between the navbar and the footer */
.block-content{
    margin-bottom: 350px;
}

