{% extends "base.html" %}

{% block title %}PR Hub - Product: {{ product.name }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/product/detail_style.css">
{% endblock %}

{% block scripts_after_body %}
    <script type="text/javascript" src="../../static/script/product_detail_pic.js"></script>
    <script type="text/javascript" src="../../static/script/product_detail_cart.js"></script>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="../../static/script/rank_stars.js"></script>
{% endblock %}

{% block content %}

    <div class="block-content">

        {#       product info #}
        <div class="product-info-box">
            <p class="product-name">{{ product.name }}</p>
            {#    product price #}
            <div class="price-box">
                <span>￥</span> <span>{{ product.price }}</span>
            </div>
            <p class="product-desc">{{ product.description }}</p>
        </div>


        {#        product picture slide #}
        {#            the outer box contains the picture list and picture selecting button #}
        <div class="picture-panel-box">
            <ul class="pic-container">
                {# loop through all the pictures to make each of them in an list item #}
                {% for picture in product.pictures %}
                    <li class="pic">
                        <img src="{{ url_for('static', filename=picture.address) }}" alt="product-picture">
                    </li>
                {% endfor %}
            </ul>

            {# the btn container, wich contains the btn for next and last picture #}
            <div class="btn">
                <div class="btn-left"><</div>
                <div class="btn-right">></div>
            </div>
        </div>


        {#
            product rank star
            if the user has not ranked this product, we let him be able to rate.
            if the user has already rated this product, we just show his rate.
        #}
        {% if pu_relation is not none %}
            {# CASE1: The user has logged in and has rated this product #}
            <div class="rank-box">
                {#   the hint to rank  #}
                <span class="rank-hint">My Feedback</span>
                {#   the list of stars #}
                <ul class="rank-stars">
                    {# shows how much stars the user has rated this product #}
                    {% if pu_relation.rank == 1 %}
                        <li class="star already-star">&#9733</li>
                        <li class="star">&#9733</li>
                        <li class="star">&#9733</li>
                        <li class="star">&#9733</li>
                        <li class="star">&#9733</li>

                    {% elif pu_relation.rank == 2 %}
                        <li class="star already-star">&#9733</li>
                        <li class="star already-star">&#9733</li>
                        <li class="star">&#9733</li>
                        <li class="star">&#9733</li>
                        <li class="star">&#9733</li>


                    {% elif pu_relation.rank == 3 %}
                        <li class="star already-star">&#9733</li>
                        <li class="star already-star">&#9733</li>
                        <li class="star already-star">&#9733</li>
                        <li class="star">&#9733</li>
                        <li class="star">&#9733</li>


                    {% elif pu_relation.rank == 4 %}
                        <li class="star already-star">&#9733</li>
                        <li class="star already-star">&#9733</li>
                        <li class="star already-star">&#9733</li>
                        <li class="star already-star">&#9733</li>
                        <li class="star">&#9733</li>


                    {% elif pu_relation.rank == 5 %}
                        <li class="star already-star">&#9733</li>
                        <li class="star already-star">&#9733</li>
                        <li class="star already-star">&#9733</li>
                        <li class="star already-star">&#9733</li>
                        <li class="star already-star">&#9733</li>

                    {% endif %}
                </ul>
            </div>
        {% elif is_anonymous_user %}
            {# CASE2: The user is anonynous #}
            <div class="rank-box">
                {#   the hint to rank  #}
                <span class="rank-hint">Click to Rate</span>
                {#   the list of stars #}
                <ul class="rank-stars">
                    <li class="star"><a href="{{ url_for('auth.login') }}">&#9733</a>
                    </li>
                    <li class="star"><a href="{{ url_for('auth.login') }}">&#9733</a>
                    </li>
                    <li class="star"><a href="{{ url_for('auth.login') }}">&#9733</a>
                    </li>
                    <li class="star"><a href="{{ url_for('auth.login') }}">&#9733</a>
                    </li>
                    <li class="star"><a href="{{ url_for('auth.login') }}">&#9733</a>
                    </li>
                </ul>
            </div>

        {% elif (pu_relation is none and not is_anonymous_user) %}
            {# CASE3: The user has logged in but has not rated this product #}
            <div class="rank-box">
                {#   the hint to rank  #}
                <span class="rank-hint">Click to Rate</span>
                {#   the list of stars #}
                {#                <ul class="rank-stars">#}
                {#                    <li class="star"><a href="{{ url_for('product.rank_product', product_id=product.id, rank=1) }}">&#9733</a>#}
                {#                    </li>#}
                {#                    <li class="star"><a href="{{ url_for('product.rank_product', product_id=product.id, rank=2) }}">&#9733</a>#}
                {#                    </li>#}
                {#                    <li class="star"><a href="{{ url_for('product.rank_product', product_id=product.id, rank=3) }}">&#9733</a>#}
                {#                    </li>#}
                {#                    <li class="star"><a href="{{ url_for('product.rank_product', product_id=product.id, rank=4) }}">&#9733</a>#}
                {#                    </li>#}
                {#                    <li class="star"><a href="{{ url_for('product.rank_product', product_id=product.id, rank=5) }}">&#9733</a>#}
                {#                    </li>#}
                {#                </ul>#}

                {#   the list of stars using Ajax, pass the product id to js#}
                <ul class="rank-stars" product_id="{{ product.id }}">
                    <li class="star" id="star1">&#9733</li>
                    <li class="star" id="star2">&#9733</li>
                    <li class="star" id="star3">&#9733</li>
                    <li class="star" id="star4">&#9733</li>
                    <li class="star" id="star5">&#9733</li>
                </ul>
            </div>

        {% endif %}



        {#    the box of the module of "add to cart", which contains a add button and a input to select product_count (how many) #}
        <div id="cart-box">
            {#            the box of the module to set the product count#}
            <div id="cart-num-box">
                <button id="btn-cart-dec">-</button>
                <input type="number" id="cart-product-count" min="1" max="100" value="1" readonly="readonly"
                       product_id="{{ product.id }}">
                <button id="btn-cart-inc">+</button>
            </div>

            <div id="cart-button-box">
                {#            a button for adding to the cart#}
                {% if session.get("username") %}
                    {#            for the users logged in #}
                    <span id="btn-add-cart">Add to Cart</span>

                {% else %}
                    {#                for the user not log in#}
                    <span id="btn-add-cart"><a href="{{ url_for('auth.login') }}">Add to Cart</a></span>

                {% endif %}

            </div>


        </div>


        {#    product comments#}
        <div class="product-comment-box">

            {#        a title#}
            <h2>Customer Reviews</h2>

            {#    comment list #}
            <ul>
                {% for comment in product.comments %}
                    <li class="comment-item">
                        <table>
                            <tr>
                                {#                                user info #}
                                <td rowspan="5">
                                    <div class="comment-user">
                                        <img src="{{ url_for('static', filename=comment.author.avatar) }}" alt="user-avatar">
                                        <span class="comment-user-username">{{ comment.author.username }}</span>
                                    </div>
                                </td>
                                {#  the rating stars #}
                                <td>
                                    {% if comment.star_num == -1 %}
                                        <p class="hint-no-star">This user has not rated this product yet.</p>

                                    {% else %}

                                        <ul class="comment-star">
                                            {# shows how much stars the author has rated this product #}
                                            {% if comment.star_num == 1 %}

                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment">&#9733</li>
                                                <li class="star-in-comment">&#9733</li>
                                                <li class="star-in-comment">&#9733</li>
                                                <li class="star-in-comment">&#9733</li>

                                            {% elif comment.star_num == 2 %}
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment">&#9733</li>
                                                <li class="star-in-comment">&#9733</li>
                                                <li class="star-in-comment">&#9733</li>

                                            {% elif comment.star_num == 3 %}
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment">&#9733</li>
                                                <li class="star-in-comment">&#9733</li>

                                            {% elif comment.star_num == 4 %}
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment">&#9733</li>

                                            {% elif comment.star_num == 5 %}
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment already-star">&#9733</li>
                                                <li class="star-in-comment already-star">&#9733</li>

                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                {#                                the text comment #}
                                <td>
                                    <p class="comment-text">{{ comment.content }}</p>
                                </td>
                            </tr>
                            <tr>
                                {#                                the picture list #}
                                <td>
                                    <ul class="comment-pic-list">
                                        {% for pic in comment.pictures %}
                                            <li class="comment-pic">
                                                <img src="{{ url_for('static', filename=pic.address) }}" alt="comment-picture">
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                {#                                comment date#}
                                <td><p class="comment-date">{{ comment.timestamp.date() }}</p></td>
                            </tr>
                            <tr>
                                {#                                some buttons (reply...)#}
                                <td></td>
                            </tr>
                        </table>
                    </li>
                {% endfor %}
            </ul>

        </div>


        {#    page bottom #}
        <div class="page-bottom"></div>

    </div>

{% endblock %}