{% extends "base.html" %}

{% block title %}PR Hub - upload product{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/product/upload.css">
{% endblock %}

{% block content %}

    <div class="block-content">

        <div class="box-outer">
            <div class="box-up">
                <h2>Upload your Product</h2>
                <span>Upload your product with some description and pictures, let more people know about it!</span>
            </div>

            <div class="box-down">
                <form action="" method="post" enctype="multipart/form-data" class="upload-form" novalidate>
                    {{ form.hidden_tag() }}

                    {#    name #}
                    {{ form.name.label(class='hint-label') }}
                    {{ form.name(class='input-blank') }}

                    {#        adding validation messages #}
                    {% for error in form.name.errors %}
                        <span class="error-message">[{{ error }}]</span>
                    {% endfor %}

                    {#    description #}
                    {{ form.description.label(class='hint-label') }}
                    {{ form.description(class='input-blank') }}

                    {#         adding validation messages#}
                    {% for error in form.description.errors %}
                        <span class="error-message">[{{ error }}]</span>
                    {% endfor %}

                    {#    price #}
                    {{ form.price.label(class='hint-label') }}
                    {{ form.price(class='input-blank') }}

                    {#         adding validation messages#}
                    {% for error in form.price.errors %}
                        <span class="error-message">[{{ error }}]</span>
                    {% endfor %}

                    {#    pictures #}
                    {{ form.pictures.label(class='choose-pic-label') }}
                    {{ form.pictures(class='btn-choose-pic') }}

                    {#         adding validation messages#}
                    {% for error in form.pictures.errors %}
                        <span class="error-message error-message-choose-pic">[{{ error }}]</span>
                    {% endfor %}

                    {# choose multiple categories #}
                    <div class="cate-box">
                        <label class="choose-cate-label" for="categories">Choose the categories</label>
                        <table id="categories">
                            {% for cate in allCategories %}
                                <tr>
                                    <td>
                                        <label>{{ cate.name }}</label>
                                    </td>
                                    <td>
                                        {#    name should be in an array to pass to the server (backend)#}
                                        <input name="categories[]" type="checkbox" value="{{ cate.id }}">
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    {#                the submit button #}
                    {{ form.submit(id="btn-submit") }}
                </form>
            </div>
        </div>

    </div>


{% endblock %}
