{% extends "base.html" %}

{% block title %}PR Hub - {{ user.username }}'s Shopping Cart{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/main/my_cart.css">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="../../static/script/my_cart.js"></script>
{% endblock %}


{% block content %}
    <div class="block-content">

        <h1>My Shopping Cart</h1>

        {#                a form contains a cart table and a purchase button #}
        {#        <form id="cart-form" method="POST" action="">#}
        {# a table of items in the cart#}
        <table id="cart-table">
            {#        loop through all the cart relations in of this user (all the items in the cart)#}
            {% for cart_relation in cart_relation_list %}
                <tr class="product-row" id="row-{{ cart_relation.id }}">
                    {#  a checkbox for select products to purcahse #}
                    <td class="product-check">
                        <input type="checkbox" checked="checked" is_checked="is_checked" class="cart-checkbox" id="checkbox-{{ cart_relation.id }}" cart_id="{{ cart_relation.id }}">
                    </td>

                    {#  product picture#}
                    <td class="product-img">
                        <img src="{{ url_for('static', filename=cart_relation.product.pictures.all()[0].address) }}">
                    </td>

                    {#  product name#}
                    <td class="product-name">
                        <p>{{ cart_relation.product.name }}</p>
                    </td>

                    {#  product price#}
                    <td class="product-price" id="product-price-{{ cart_relation.id }}" price="{{ cart_relation.product.price }}">
                        <span>￥ {{ cart_relation.product.price }}</span>
                    </td>

                    {#  product count module #}
                    <td class="product-count-module">
                        {#            the box of the module to set the product count#}
                        <div class="cart-num-box">
                            <button class="btn-cart-dec">-</button>
                            <input type="number" class="cart-product-count" id="cart-product-count-{{ cart_relation.id }}" min="1" max="100"
                                   value="{{ cart_relation.product_count }}" readonly="readonly"
                                   product_id="{{ cart_relation.product.id }}">
                            <button class="btn-cart-inc">+</button>
                        </div>
                    </td>

                    {#  delete button#}
                    <td class="product-remove">
                        {#  pass the cart id to the js when removing a specific cart relation #}
                        <button class="btn-cart-remove" cart_id="{{ cart_relation.id }}">Remove</button>
                    </td>
                </tr>
            {% endfor %}


            {#  the purchase module#}
            <tr>
                {#  total price #}
                <td colspan="5">
                    <span>Total Price: ￥</span> <span id="total-price"></span>
                </td>

                {# purchase button #}
                <td>
                    <button id="btn-purchase">Purchase</button>
                </td>
            </tr>
        </table>

        {#        </form>#}


        {#    This is an empty div, which is used to clear the float #}
        <div class="empty-for-clear-float"></div>
    </div>
{% endblock %}