{% extends "base.html" %}

{% block title %}PR Hub - {{ user.username }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/main/profile_style.css">
{% endblock %}

{% block content %}
    <div class="block-content">

        <div>
            <h1>
                {{ user.username }}
            </h1>

            <h3>
                Account Type: {% if user.role_id == 1 %}Customer{% else %}Retailer{% endif %}
            </h3>

            <p>
                Member since {{ user.start_datetime.date() }}
                <a href="{{ url_for('main.edit_profile') }}">Click me for edit</a>
            </p>

{#            {% if current_user.is_administrator() %}#}
{#            {% endif %}#}
        </div>



        {#    This is an empty div, which is used to clear the float #}
        <div class="empty-for-clear-float"></div>

    </div>
{% endblock %}