{% extends "base.html" %}

{% block title %}PR Hub - {{ user.username }}{% endblock %}

{% block style %}
    <link rel="stylesheet" href="../../static/css/main/profile_style.css">
{% endblock %}

{% block content %}
    <div class="block-content">
        {#    the whole profile box#}
        <div class="profile-box">
            {#        the avatar box#}
            <div class="avatar-box">
                {#                the avatar image#}
                <img src="{{ url_for('static', filename=user.avatar) }}" alt="user-avatar">
            </div>

            <div class="profile-info">
                <ul class="profile-list">

                    <li class="profile-info">
                        {#                    the profile text information#}
                        <div class="profile-text">
                            <p class="username">
                                {{ user.username }}
                            </p>

                            <p class="account">
                                Account Type: {% if user.role_id == 1 %}Customer{% else %}Retailer{% endif %}
                            </p>

                            <p class="date">
                                Member since {{ user.start_datetime.date() }}

                            </p>

                            <p class="email">
                                Email: {{ user.email }}
                            </p>


                        </div>
                        {#                    the edit button#}
                        <div class="edit">
                            <a href="{{ url_for('main.edit_profile') }}">Edit</a>
                        </div>

                        {#                            This is an empty div, which is used to clear the float#}
                        <div class="empty-for-clear-float"></div>
                    </li>
                </ul>
            </div>

        </div>


    </div>
{% endblock %}