/*
The main aesthetics conceptions are partially learned from the internet
@bilibili
*/


/*clear the default margin and padding of the browsers*/
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

/* the whole content in the page between the navbar and the footer */
.block-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* let the items inside located vertically */
    flex-direction: column;
    /*background-image: linear-gradient(to bottom right, #dbdcff, #a283ff);*/
    background-image: url("../../img/pic1.png");
    height: 100%;
    background-size: cover;
}

/* the container that contains left and right boxes */
.container-outer {
    width: 640px;
    height: 320px;
    display: flex;
}

/* the left box with LogIn logo */
.container-left {
    background-color: white;
    height: 280px;
    position: relative;
    top: 20px;
    width: 50%;
}

/* a big login logo */
.container-left h1 {
    font: 900 50px '';
    margin: 50px 40px 40px;
}

/* the text under the logo */
.container-left span {
    display: block;
    color: #999;
    font-size: 14px;
    margin: -23px 40px 40px;
    line-height: 20px;
}

/* the right box contains the login form */
.container-right {
    background-color: #353a5b;
    color: #f1f1f2;
    width: 50%;
    transition: 1s;
}

/* when hovering the right box, let it show shadow */
.container-right:hover{
    box-shadow: 0 0 30px 20px rgba(255, 255, 255, .2);
}

/* the login form */
.login-form {
    margin-top: 50px;
    margin-left: 30px;
    position: absolute;
}

/* the label for each input in the form */
.hint-label {
    /* background-color: #fff; */
    color: #c2c2c5;
    display: block;
    font-size: 16px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    position: relative;
    transition: .3s;
}

/* the class for the label when there are errors in this input */
.hint-label-error{
    color: red;
}

/* when hovering the labels */
.hint-label:hover{
    color: #ffffff;
    letter-spacing: 3px;
}

/* the input blank in the form  */
.input-blank {
    background: transparent;
    font-size: 14px;
    border: 0;
    color: #f2f2f2f2;
    height: 30px;
    line-height: 30px;
    width: 100%;
    outline: none !important;
}

/* set a ::before for each label to replace the input borders */
.hint-label::before {
    /* content: 'asd'; */
    content: '';
    display: block;
    position: absolute;
    top: 52px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #5044ff, #ff8bc7);
}

/* the remember me box */
#remember-me-box {
    margin-top: 20%;
}

/* label for the remember me box */
#remember-me-label{
    color: #c2c2c5;
}

/* the submit button */
#btn-submit {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    width: 100px;
    height: 35px;
    float: right;
    transition: .3s;
}

/* when hovering on the submit button */
#btn-submit:hover {
    letter-spacing: 2px;
    color: #000;
    background-color: #CC9999;
    font-weight: bold;
    cursor: pointer;
}

/* error-message for the input errors */
.error-message {
    color: #b888ff;
    margin-top: -24px;
    display: inline-block;
    position: absolute;
    right: -25px;
}

/* a link button to the registration form */
.link-registration{
    margin-top: 100px;
    color: #fff;
}

/* the text in the register button */
.link-registration a{
    display: inline-block;
    width: 260px;
    height: 20px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid #b888ff;
    border-radius: 25px;
    padding: 10px;
    transition: .3s;
}

/* when hovering the register button */
.link-registration a:hover{
    background-color: #ffffff;
    letter-spacing: 2px;
}