/*
The main aesthetics conceptions are partially learned from the internet
@bilibili
*/


/*clear the default margin and padding of the browsers*/
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-image: linear-gradient(to bottom right, #dbdcff, #a283ff);*/
}

.block-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* let the items inside located vertically */
    flex-direction: column;
    /*background-image: linear-gradient(to bottom right, #dbdcff, #a283ff);*/
    background-image: url("../../img/pic1.png");
    height: 100%;
    background-size: cover;
}

.container-outer {
    width: 640px;
    height: 320px;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*background-color: #abc;*/
}


.container-left {
    background-color: #e8e7e7;
    height: 280px;
    position: relative;
    top: 20px;
    width: 50%;
}

.container-left h1 {
    font: 900 50px '';
    margin: 50px 40px 40px;
}

.container-left span {
    display: block;
    color: #999;
    font-size: 14px;
    margin: -23px 40px 40px;
    line-height: 20px;
}

.container-right {
    /*background-color: #474a59;*/
    background-color: #282525;
    color: #f1f1f2;
    width: 50%;
    transition: 1s;
}

.container-right:hover{
    box-shadow: 0 0 30px 20px rgba(255, 255, 255, .2);
}

.login-form {
    margin-top: 50px;
    margin-left: 30px;
    position: absolute;
}

.hint-label {
    /* background-color: #fff; */
    color: #c2c2c5;
    display: block;
    font-size: 16px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    position: relative;
    transition: .3s;
}

.hint-label:hover{
    color: #ffffff;
    letter-spacing: 3px;
}

.input-blank {
    background: transparent;
    font-size: 14px;
    border: 0;
    color: #f2f2f2f2;
    height: 30px;
    line-height: 30px;
    width: 100%;
    outline: none !important;
}

.hint-label::before {
    /* content: 'asd'; */
    content: '';
    display: block;
    position: absolute;
    top: 52px;
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to right, #5044ff, #ff8bc7);
}

#remember-me-box {
    margin-top: 20%;
}

#remember-me-label{
    color: #c2c2c5;
}

#btn-submit {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    width: 100px;
    height: 35px;
    float: right;
    transition: .3s;
}

#btn-submit:hover {
    letter-spacing: 2px;
    color: #000;
    background-color: #CC9999;
    font-weight: bold;
    cursor: pointer;
}

.error-message {
    color: #b888ff;
    margin-top: -24px;
    display: inline-block;
    position: absolute;
    right: -25px;
}

.link-registration{
    margin-top: 100px;
    color: #fff;
}

.link-registration a{
    display: inline-block;
    width: 260px;
    height: 20px;
    text-decoration: none;
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid #b888ff;
    border-radius: 25px;
    padding: 10px;
    transition: .3s;
}

.link-registration a:hover{
    background-color: #ffffff;
    letter-spacing: 2px;
}