.nav {
    width: auto;
    height: 48px;
    background-color: #e8e7e3;
    /*position: fixed;*/
    /*margin: 100px auto;*/
}

/* every item in the navbar */
.nav li {
    /* let every item float to the left, then they can be located horizontally */
    float: left;

    /* background-color: red; */

    /* make each item taking full height of the navbar */
    height: 100%;
    /* making the word in each item align center vertically */
    line-height: 48px; /* should same as the height of the parent */
}

/* word in the nav item */
.nav li a {
    /* make the hole nav item clickable*/
    display: block;

    text-decoration: none;
    color: #777;

    padding: 0 44px;
}

/* when the cursor hovering the nav item */
.nav a:hover {
    background-color: #3f3f3f;
    color: #e8e7e3;
}