html{
    overflow-x: hidden;
}

.nav {
    width: auto;
    height: 48px;
    background-color: #c379ff;
    /*position: fixed;*/
    /*margin: 100px auto;*/
    overflow: hidden;
}

/* every item in the navbar */
.nav .nav-item {
    /* let every item float to the left, then they can be located horizontally */
    float: left;

    /* background-color: red; */

    /* make each item taking full height of the navbar */
    height: 100%;
    /* making the word in each item align center vertically */
    line-height: 48px; /* should same as the height of the parent */
}

/* word in the nav item */
.nav .nav-item a {
    /* make the hole nav item clickable*/
    display: block;

    text-decoration: none;
    color: #ffffff;

    padding: 0 44px;
}

/* when the cursor hovering the nav item */
.nav a:hover {
    background-color: #ffffff;
    color: #ff8bc7;
}