html{
    overflow-x: hidden;
}

.nav {
    width: auto;
    height: 57px;
    background-color: #E0E0E0;
    /*background-color: #CCCCCC;*/
    /*position: fixed;*/
    /*margin: 100px auto;*/
    overflow: hidden;
}

#web-name a{
    font-size: 35px;
}

/* every item in the navbar */
.nav .nav-item {
    /* let every item float to the left, then they can be located horizontally */
    float: left;

    /* background-color: red; */

    /* make each item taking full height of the navbar */
    height: 100%;
    /* making the word in each item align center vertically */
    line-height: 57px; /* should same as the height of the parent */
}

/* word in the nav item */
.nav .nav-item a {
    /* make the hole nav item clickable*/
    display: block;

    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: "Lucida Bright";
    padding: 0 44px;
}

/* when the cursor hovering the nav item */
.nav .hover-item a:hover {
    background-color: #282525;
    color: #CC9999;
}

