/* import all the css in light model */
@import "base_style_light.css";

/* only change colors in this dark model */

/* the whole nav bar */
.nav {
    /*background-color: #8d24ff;*/
    background-color: #333333;

}

/* word in the nav item */
.nav .nav-item a {
    color: #ffffff;
}

/* when the cursor hovering the nav item */
.nav .hover-item a:hover {
    background-color: #282525;
    /*background-color: #E0E0E0;*/
    color: #CC9999;
}

/* when hovering on each item in the dropdown list */
.dropdown-btn:hover ul li {
    /*background-color: #E0E0E0;*/
    background-color: #333333;
}

/* the whole content in the page between the navbar and the footer */
.block-content {
    /*background-color: #3c3f41;*/
    background-color: #242424;
}

/* the text of the title */
.title-list-item .title {
    color: white;
}

/* the <a> outers the icon span */
.title-list-item a {
    color: black;
}

/* the outer container of the product box */
.products-list-item {
    background-color: #333333;
}

/* the product name */
.product-name a {
    color: white;
}

/* The product name */
.product-info-box .product-name {
    color: white;
}

/*the profile information in dark*/
.profile-text p {
    color: white;
}

/* The footer */
.footer {
    background: black;
    /*background-color:#f5f5f7;*/
    /*color: #CC9999;*/
    color: #ffffff;

}

/* clear the style of the link */
.footer a:link, .footer a:visited {
    /*color: #CC9999;*/
    color: #ffffff;

}

/* when hovering the link, or the visited links */
.footer a:active, .footer a:hover {
    /*color: #ffffff;*/
    color: #CC9999;

}