html{
    /*we will not let the user to scrolling the screen horizontally */
    overflow-x: hidden;
}

/* the whole nav bar */
.nav {
    width: auto;
    height: 57px;
    background-color: #E0E0E0;
    /*background-color: #CCCCCC;*/
    /*position: fixed;*/
    /*margin: 100px auto;*/
    /*overflow: hidden;*/
}

/* our web logo */
#web-name a{
    font-size: 35px;
}

/* every item in the navbar */
.nav .nav-item {
    /* let every item float to the left, then they can be located horizontally */
    float: left;

    /* background-color: red; */

    /* make each item taking full height of the navbar */
    height: 100%;
    /* making the word in each item align center vertically */
    line-height: 57px; /* should same as the height of the parent */
}

/* word in the nav item */
.nav .nav-item a {
    /* make the hole nav item clickable*/
    display: block;

    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: "Lucida Bright";
    padding: 0 44px;
}

/* when the cursor hovering the nav item */
.nav .hover-item a:hover {
    background-color: #282525;
    color: #CC9999;
}

/* a dropdown list for selecting the category */
.dropdown-btn ul{
    position: absolute;
    z-index: 11;      /* make the list cover the picture(z-index=9) */
}

/* items in dropdown list of category */
.dropdown-btn ul li{
    height: 0;                      /* if do not hover on the btn, list items are collapsed at the place of first item */
    transition: 0.2s;
    opacity: 0;                     /* if do not hover on the btn, list items are invisible */
    transform: translateY(-57px);   /* make the collapsed list items locate at the navbar */
}

/* <a> tags of those categories in the dropdown list */
.dropdown-btn ul li .cate-link{
    font-size: 17px;
}

/* <a> tags of themes in the dropdown list */
#btn-theme .theme-item{
    font-size: 17px;
    width: 68px;
}

/* dropdown list button and <a> tags in dropdown lists */
.dropdown-btn:hover, .dropdown-btn a{
    cursor: pointer;
}


/* when hovering on each item in the dropdown list */
.dropdown-btn:hover ul li{
    height: 57px;                   /* open the list (cancel the collapsing) */
    opacity: 1;                     /* make the list items visible */
    background-color: #E0E0E0;
    transform: translateY(0);       /* put the list down from the navbar */
}


/* The footer */
.footer{
    display: block;
    width: 100%;
    background: black;
    background-position: center;
    font-size: 12px;
    padding: 25px;
    /*margin-top: 30px;*/
    color: #CC9999;
    font-family: 'Lucida Bright', 'Times New Roman', 'Geneva', 'Verdana', sans-serif;
}

/* clear the style of the link */
.footer a:link, .footer a:visited{
    color: #CC9999;
}

/* when hovering the link, or the visited links */
.footer a:active, .footer a:hover{
    color: #ffffff;
}

/* every column in the footer, in total there are 4  */
.footer-box-outer ul{
    float: left;
    margin: 0 7%;
}

/* the title of each column */
.footer-box-title{
    font-size: 20px;
    font-weight: bold;
}

/* each item in each column */
.footer-box li{
    margin-bottom: 20px;
}

/* the item in the third column */
.footer-box-left-3 li{
    margin-bottom: 6px;
}

/* our web logo */
.footer-box-left-1 .web-name{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 93%;
}

/* the 4th column in the footer */
.footer-box-left-4{
    width: 200px;
}

/* This is an empty div, which is used to clear the float */
.empty-for-clear-float{
    clear: both;
}

