<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}PR Hub{% endblock %}
    </title>

    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base_style.css">
    {#  for links to css #}
    {% block style %}{% endblock %}

    {{ moment.include_moment() }}
    {# import the jQuery #}
    <script type="text/javascript" src="../static/script/jquery-3.4.1.js"></script>
    {#  for scripts of javascript #}
    {% block scripts %}{% endblock %}

</head>
<body>
{##}
{#      nav bar #}
{#    <div>#}
{#        <a href="{{ url_for('main.index') }}">PR Hub</a>#}
{#        <a href="{{ url_for('main.index') }}">Home</a>#}
{##}
{# for the logged in users #}
{#        {% if current_user.is_authenticated %}#}
{##}
{#            loug out button #}
{#            <a href="{{ url_for('auth.logout') }}">LogOut</a>#}
{##}
{#            upload product button #}
{#            {% if current_user.can(Permission.UPLOAD_PRODUCT) %}#}
{#                <a href="{{ url_for('product.upload_product') }}">Upload a New Product</a>#}
{#            {% endif %}#}
{##}
{#            profile button #}
{#            <a href="{{ url_for('main.user', username=current_user.username) }}">My Profile</a>#}
{##}
{#        {% else %}#}
{#            <a href="{{ url_for('auth.login') }}">LogIn</a>#}
{#        {% endif %}#}
{##}
{#        <a href="{{ url_for('main.secret') }}">Secret</a>#}
{#    </div>#}

<ul class="nav">
    <li class="nav-item">
        <a href="{{ url_for('main.index') }}">PR Hub</a>
    </li>

    <li class="nav-item">
        <a href="{{ url_for('main.index') }}">Home</a>
    </li>

    {# for the logged in users #}
    {% if current_user.is_authenticated %}

        <li class="nav-item">
            {#            loug out button #}
            <a href="{{ url_for('auth.logout') }}">LogOut</a>

        </li>

        <li class="nav-item">
            {#            upload product button #}
            {% if current_user.can(Permission.UPLOAD_PRODUCT) %}
                <a href="{{ url_for('product.upload_product') }}">Upload a New Product</a>
            {% endif %}
        </li>

        <li class="nav-item">
            {#            profile button (give the user name to the backend) #}
            <a href="{{ url_for('main.user_profile', username=current_user.username) }}">My Profile</a>
        </li>


    {% else %}
        <li class="nav-item">
            <a href="{{ url_for('auth.login') }}">LogIn</a>
        </li>
    {% endif %}

    <li class="nav-item">
        <a href="{{ url_for('main.secret') }}">Secret</a>
    </li>
</ul>

{#    for flash #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{# content #}
{% block content %}{% endblock %}


</body>

{# for the children templates to define the javascript statements after the 'body' tag #}
{% block scripts_after_body %}
{% endblock %}

</html>