<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}PR Hub{% endblock %}
    </title>

    {# reset the default style of the broswer (This MUST be the first!!!) #}
    <link rel="stylesheet" href="../static/css/reset.css">

    {#
        choose different css file for different themes
    #}
    {% if session.get("theme") %}
        {# CASE1: there is a theme in sesssion #}
        {% if session.get("theme") == "light" %}
            <link id="css-theme" rel="stylesheet" href="../static/css/base_style_light.css">
        {% elif session.get("theme") == "dark" %}
            <link id="css-theme" rel="stylesheet" href="../static/css/base_style_dark.css">
        {% else %}
            <link id="css-theme" rel="stylesheet" href="../static/css/base_style_light.css">{# light theme is default #}
        {% endif %}
    {% else %}
        {# CASE2: there is not theme in session (when the user first here and didn't log in), we will give the light one as default#}
        <link id="css-theme" rel="stylesheet" href="../static/css/base_style_light.css">{# light theme is default #}
    {% endif %}

    {#  for links to css #}
    {% block style %}{% endblock %}


    {# import the jQuery #}
    <script type="text/javascript" src="../static/script/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="../static/script/base.js"></script>
    {#  for scripts of javascript #}
    {% block scripts %}{% endblock %}

</head>
<body>
{# The top navbar #}
<ul class="nav">

    <li class="nav-item" id="web-name">
        <a href="{{ url_for('main.index') }}">PR Hub</a>
    </li>

    <li class="nav-item hover-item">
        <a href="{{ url_for('main.index') }}">Home</a>
    </li>

    {# for the logged in users #}
    {% if session.get("username") %}

        <li class="nav-item hover-item">
            {#            loug out button #}
            <a href="{{ url_for('auth.logout') }}">LogOut</a>

        </li>

        <li class="nav-item hover-item">
            {#            upload product button only for retailers #}
            {% if session.get("role_id") == 2 %}
                <a href="{{ url_for('product.upload_product') }}">Upload a New Product</a>
            {% endif %}
        </li>

        <li class="nav-item hover-item">
            {#            profile button (give the user name to the backend) #}
            <a href="{{ url_for('main.user_profile', username=session.get("username")) }}">My Profile</a>
        </li>


    {% else %}
        <li class="nav-item hover-item">
            <a href="{{ url_for('auth.login') }}">LogIn</a>
        </li>
    {% endif %}

    {# a dropdown list of categories #}
    <li class="nav-item hover-item dropdown-btn">
        <a>categories</a>
        <ul>
            <li><a href="{{ url_for('main.products_in_category', category_name='sports') }}"
                   class="cate-link">sports</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='foods') }}" class="cate-link">foods</a>
            </li>
            <li><a href="{{ url_for('main.products_in_category', category_name='clothes') }}"
                   class="cate-link">clothes</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='digital') }}"
                   class="cate-link">digital</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='books') }}" class="cate-link">books</a>
            </li>
            <li><a href="{{ url_for('main.products_in_category', category_name='makeup') }}"
                   class="cate-link">makeup</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='luxury') }}"
                   class="cate-link">luxury</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='daily') }}" class="cate-link">daily</a>
            </li>
            <li><a href="{{ url_for('main.products_in_category', category_name='art') }}" class="cate-link">art</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='home') }}" class="cate-link">home</a>
            </li>
            <li><a href="{{ url_for('main.products_in_category', category_name='instruments') }}" class="cate-link">instruments</a>
            </li>
            <li><a href="{{ url_for('main.products_in_category', category_name='others') }}"
                   class="cate-link">others</a></li>
        </ul>
    </li>

    {#    a drop down list for selecting themes #}
    <li class="nav-item hover-item dropdown-btn" id="btn-theme">
        <a>Theme</a>
        <ul>
            <li id="theme-item-light"><a class="theme-item">Light</a></li>
            <li id="theme-item-dark"><a class="theme-item">Dark</a></li>
        </ul>
    </li>

</ul>

{#    for flash #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{# content #}
{% block content %}{% endblock %}

<footer class="footer">
    <div class="footer-box-outer">

        {#    the logo and the copyright of our website#}
        <ul class="footer-box footer-box-left-1">
            <li class="web-name"><a href="#">PR Hub</a></li>
            <li class="web-c">&copy; 2021 LiuZhe & GengTianyi</li>
        </ul>

        {#    the account column #}
        <ul class="footer-box footer-box-left-2">
            <li class="footer-box-title">My Account</li>
            <li>
                {% if session.get("username") %}
                    <a href="{{ url_for("auth.logout") }}">Log Out</a>
                {% else %}
                    <a href="{{ url_for("auth.login") }}">Sign In</a>
                {% endif %}
            </li>
            <li><a href="{{ url_for('auth.register') }}">Join Us</a></li>
            {% if session.get("username") %}
                <li><a href="{{ url_for('main.user_profile', username=session.get("username")) }}">My Profile</a></li>
            {% endif %}
        </ul>

        {#    the category column #}
        <ul class="footer-box footer-box-left-3">
            <li class="footer-box-title">Categories</li>
            <li><a href="{{ url_for('main.products_in_category', category_name='sports') }}">sports</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='foods') }}">foods</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='clothes') }}">clothes</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='digital') }}">digital</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='books') }}">books</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='makeup') }}">makeup</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='luxury') }}">luxury</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='daily') }}">daily</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='art') }}">art</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='home') }}">home</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='instruments') }}">instruments</a></li>
            <li><a href="{{ url_for('main.products_in_category', category_name='others') }}">others</a></li>
        </ul>

        {#    the contact information column #}
        <ul class="footer-box footer-box-left-4">
            <li class="footer-box-title">Contact With Us</li>
            <li>We'd love to hear from you - please use the form to send us your message or ideas.</li>
            <li>Hours: 00:00am-23:59pm (GMT+8) M-S</li>
            <li>Email: zhe.liu1@ucdconnect.ie</li>
        </ul>

        {#    This is an empty div, which is used to clear the float #}
        <div class="empty-for-clear-float"></div>

    </div>
</footer>

</body>

{# for the children templates to define the javascript statements after the 'body' tag #}
{% block scripts_after_body %}
{% endblock %}

</html>